#title{
    background-color: #ff4c68;
    color:#fff;
}

body{
    font-family: 'Montserrat';
}

/*---headings---*/

.navbar-brand{
    color: #fff;
}
.nav-link {
    color: #fff;
}



h1,h2,h3{
    font-family: 'Montserrat';
}


h1{
    font-size: 3.5rem;
    line-height: 1.3;
}

p{
    color: #000000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* ---navabar----*/

.navbar{
    padding: 0 0 2.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    transform: rotate(25deg);
    position: absolute;
    width: 20%;
    right: 26%;
}

/* ---features----*/

#features{
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
    
}

.feature-text{
    font-size: 1.5rem;
    
}

.feature-box{
    text-align: center;
    padding: 4.5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* ---testimonails----*/

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.6;
}

.testimonial-image{
    width: 18%;
    border-radius: 100%;
    margin: 30px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    padding: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* ---pricing----*/

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-text{
    font-size: 3rem;
    line-height: 1.3;
}

.column-pricing{
    padding: 3% 2%;
}

/*---Call to Action---*/

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 7% 15%;
}

.heading-cta{
    font-family: 'Montserrat';
    line-height: 1.5;
}

/*---footer---*/

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icons{
    margin: 20px 10px;
}

/*---responsive---*/

@media (max-width:1024px) {
    .title-image{
        transform: rotate(12deg);
        position: absolute;
        width: 30%;
        right: 23%;
        margin-top: 20%;
    }
}

@media (max-width:991px) {
    #text{
        text-align: center;
    }
    .title-image{
        transform: none;
        position: static;
        width: 60%;
        right: 23%;
        margin-top: 20%;
    }
}

